/* 
@import 'primeicons/primeicons.css';

@import url('https://unpkg.com/primeng@latest/resources/themes/lara-light-indigo/theme.css');
@import url('https://unpkg.com/primeng@latest/resources/primeng.min.css');

@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';
*/